@* Copyright (C) LanguagePace.Com
    - All Rights Reserved
    * Unauthorized copying of this file, via any medium is strictly prohibited
    * Proprietary and confidential
    * Written by Travis Wiggins, Erik Hattervig
    <LanguagePace@Yahoo.com>,
    August 27th 2017
*@

@{
    ViewBag.Title = "Confirm Email";
    Layout = "~/Views/Email/_LayoutEmail.cshtml";
}

<h2>ConfirmEmail</h2>

<div class="container">
    <div class="logo">Logo will go here</div>

    <div class="">Welcome to Languagepace.com</div>
    <div>Use the button or link below to confirm your email</div>
    <div>Confirming you email allows you to post, comment, and talk in chat rooms</div>

    <div class="btn-container">
        <a href="#" class="btn">Confirm your email</a>
    </div>

</div>