@* Copyright (C) LanguagePace.Com
    - All Rights Reserved
    * Unauthorized copying of this file, via any medium is strictly prohibited
    * Proprietary and confidential
    * Written by Travis Wiggins, Erik Hattervig
    <LanguagePace@Yahoo.com>,
    August 24th 2017
*@

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Email/_LayoutEmail.cshtml";
}

<h2>ForgotPassword</h2>

<div class="container">
    <div class="logo">Logo will go here</div>

    <div class="">A forgot password has been activated for your account.</div>
    <div>Use the button below to change your password.</div>
    <div>If you did not issue this request, don't worried, your account is safe and you can disregard this message.</div>

    <div class="btn-container">
        <a href="#" class="btn">Reset your password</a>
    </div>

</div>




